
html {
    background-color: black;
    color: red;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.gameBoard{
    margin: 30px;
}
  tr{
    height: 100px;
}
td{
    width: 100px;
}
.t1,.t2,.t3,.t4,.t5,.t6{
    border-bottom: solid;
}
.t2,.t5,.t8{
    border-left: solid;
    border-right: solid;
}

.bt1,.bt2,.bt3,.bt4{
    border-bottom: solid;
}

.bt2,.bt3,.bt8,.bt9{
    border-left: solid;
    border-right: solid;
}
